.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  padding: 10px;
  color: white;
}

.App-section {
  padding: 10px;
  background-color: hsl(220deg 13% 13%);
  color: white;
  margin-bottom: 10px;
}

.Character-List {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Character-Item {
  padding: 5px;
  margin: 5px;
  background-color: #444;
  cursor: pointer;
}

.Character-Section {
  border: 1px solid #ccc;
  margin: 10px;
}

.Characters-Details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
